<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Selamat Ulang Tahun Bilaa.">

    <meta property="og:image" content="../static/hdb.jpg">
    <meta property="og:image:width" content="600">
    <meta property="og:image:height" content="400">
    <meta property="og:title" content="Happy BirthDay Bilaa" />
    <meta property="og:description" content="Happy BirthDay Bilaa" />
    <link rel="icon" href="../static/hdb.jpg" type="image/jpg">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap" rel="stylesheet" />
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.4/dist/sweetalert2.all.min.js"></script>
    <link rel="stylesheet" href="static/style.css">
    <title>Happy Birthday Bilaa</title>

  </head>
  <body class="body">
    <div class="open">
      <div class="card">
        <h2>For You</h2>
          <img onclick="mulai()" src="https://dekatutorial.github.io/spesial_mail.png" alt="" srcset="" />
        <h3>Click To Open</h3>
      </div>
    </div>
    <div class="atas" id="atas">
      <img onclick="mulai()" src="https://dekatutorial.github.io/spesial_stikerUltah.png" alt="" />
      <h2>Scroll kebawah ya</h2>
    </div>

    <p data-aos="zoom-in">Happy Birthday Bilaa 🍰</p>
    <p data-aos="zoom-in">Hari ini aku ingin ngasih ucapan selamat ulang tahun singkat, tapi bermakna untukmu.</p>
    <p data-aos="zoom-in">Selamat ulang tahun Bilaa 🍰</p>
    <p data-aos="zoom-in">Hari ini adalah seindah hari-hari lainnya</p>
    <p data-aos="zoom-in">Tetapi kamu sadar satu tahun telah berlalu dengan cepat</p>
    <p data-aos="zoom-in">Namun hari ini spesial</p>
    <p data-aos="zoom-in">Sangat istimewa bagimu</p>
    <p data-aos="zoom-in">Aku buat semua ini</p>
    <p data-aos="zoom-in">Sebagai hadiah ulang tahun untukmu</p>
    <p data-aos="zoom-in">Aku selalu berharap yang terbaik untukmu</p>
    <p data-aos="zoom-in">Semoga apa yang kamu inginkan tercapai</p>
    <p data-aos="zoom-in">Memang hidup ini tidak semudah yang kita duga</p>
    <p data-aos="zoom-in">Tapi..</p>
    <p data-aos="zoom-in">Jangan khawatir dan jangan takut karena</p>
    <p data-aos="zoom-in">Kamu tidak sendirian di dunia ini</p>
    <p data-aos="zoom-in">Aku harap kamu akan menemukan kebahagiaan di sepanjang kehidupanmu</p>
    <p data-aos="zoom-in">Semangat belajarnya</p>
    <p data-aos="zoom-in">Semangat kuliahnya</p>
    <p data-aos="zoom-in">Semangat olahraganya</p>
    <p data-aos="zoom-in">Bahagia Selalu yaa</p>
    <p data-aos="zoom-in">Sekali lagi Happy Birtday yaa Bilaa 🍰</p>
    <script src="static/script.js"></script>
  </body>
</html>
